<script setup>
import { computed } from 'vue';
import Dot from './dot-info.vue';
import InfoBlock from './info-block.vue';
import { useDamage } from './use-damage';
import game from '../../game';
import Summon from './summon.vue';
import { getHealing } from './healingMixin.js';

const props = defineProps(['item', 'atk', 'target', 'ondeathflag', 'onexpireflag']);

const { getDamage } = useDamage();

//	name: 'attack',

const attack = computed(() => {
	if (props.ondeathflag) return props.item.onDeath;
	if (props.onexpireflag) return props.item.onExpire;
	return props.atk || props.item.attack;
});
const damage = computed(() => {
	return getDamage(attack.value);
});
const hitBonus = computed(() => {
	return attack.value.tohit || 0;
});
const bonus = computed(() => {

	const bonus = attack.value.bonus;
	if (!bonus || bonus.valueOf() == 0) return 0;
	if (bonus > 0) return ' (+' + bonus + ')';
	else return ' (' + bonus + ')';

});

const healing = computed(() => {
	return getHealing(attack.value);
});

const itemtype = computed(() => {
	return props.item.type?.toString() || "untyped";
});
const calcTarget = computed(() => {
	return attack.value.targetstring || props.target || "enemy";
});
const potency = computed(() => {
	let potencystring = ""
	for (const a of attack.value.potencies) {
		if (potencystring != "") potencystring = potencystring.concat(", ");
		potencystring = potencystring.concat(game.state.getData(a).name.replace(" damage", "").toTitleCase())
	}
	return potencystring
});
const only = computed(() => {
	let onlystring = ""
	//			let onlyArr = this.attack.only.split(',');
	for (const o of attack.value.only) {
		if (onlystring != "") onlystring = onlystring.concat(", ");
		onlystring = onlystring.concat(o.toTitleCase());
	}
	return onlystring
});
</script>

<template>
	<div class="attack">

		<div v-if="Array.isArray(attack)">
			<div v-for="(attackunit, idx) in attack" :key="'atk-' + idx">
				<div v-if="idx !== 0" class="info-sect"></div>
				<Attack :item="item" :atk="attackunit" />
			</div>
		</div>
		<div v-else>
			<div v-if="damage && itemtype !== 'armor' || attack.hits || attack.dot || attack.result || attack.summon || attack.healing">
				<div v-if="attack.name && attack.name !== item.name"><span>Name:
					</span><span>{{ attack.name.toString().toTitleCase() }}</span></div>

				<div v-if="damage">
					<div v-if="hitBonus">Hit Bonus: {{ hitBonus }}</div>
					<div class="damage">Estimated damage: {{ damage }}<span v-if="bonus">{{ bonus }}</span></div>
					<div v-if="attack.repeathits">Repeats: {{ attack.repeathits }} times</div>
					<div v-if="attack.potencies">Damage scaling: {{ potency }}</div>
					<div v-if="attack.kind">Kind: {{ attack.kind.toString().toTitleCase() }}</div>
				</div>

				<div v-if="healing">
					<div class="damage">Estimated healing: {{ healing }}<span v-if="bonus">{{ bonus }}</span></div>
					<div v-if="attack.potencies">Heal scaling: {{ potency }}</div>
					<div v-if="attack.kind">Kind: {{ attack.kind.toString().toTitleCase() }}</div>
				</div>

				<div v-if="attack.targets">Targets: {{ calcTarget.toString().toTitleCase() }}</div>
				<div v-if="attack.only">Only Affects: {{ only }}</div>
				<div v-if="attack.summon">
					<div class="info-sect">Summons:</div>
					<Summon :item="item" :smn ="attack.summon" class="info-subsubsect" />
				</div>
				<div v-if="attack.result" class="info-sect">Results:</div>
				<InfoBlock v-if="attack.result" :info="attack.result" :target="calcTarget" />
			</div>

			<div v-if="attack.hits">
				<div v-for="(hit, idx) in attack.hits" :key="'hit-' + idx">
					<div class="info-sect">Attack hit</div>
					<Attack :item="item" :atk="hit" class="info-subsubsect" />
				</div>
			</div>

			<div v-if="attack.dot">
				<div class="info-sect">Applies</div>
				<Dot :dot="attack.dot"
					:item="attack"
					:target="calcTarget"
					class="info-subsubsect" />
			</div>
		</div>
	</div>
</template>