<script setup>
import Game from '../../game';
import Combat from './combat.vue';
import ProgBar from '../components/progbar.vue';
import { computed, defineAsyncComponent, shallowRef } from 'vue';
import { HALT_TASK } from '../../events';
import { DUNGEON, CLASH } from '../../values/consts';
import { gameEvents } from '../../events';
import { useRollOver } from '../../store/popups';

const Bars = defineAsyncComponent(() => import('../components/bars.vue'));

const props = defineProps(['explore']);

const { itemOver } = useRollOver();

// continue to display previous encounter until new encounter ready.	
const lastEnc = shallowRef(null);

/**
 * Enc rollover
 */
const encOver = (evt) => {
	if (enc.value) itemOver(evt, enc.value);
}

const stressors = computed(() => {
	return Game.state.stressors.filter(v => !v.locked && !v.disabled);
});

/**
 * @property {Player} player
 */
const player = computed(() => { return Game.state.player; });

/**
 * @property {string} type - locale type
 */
const type = computed(() => { return props.explore.locale.type; });

/**
 * @property {boolean} inCombat
 */
const inCombat = computed(() => {

	return enc.value ? (enc.value === props.explore.combat) : type.value === (DUNGEON || CLASH);

});

/**
 * @property {Encounter} enc - current encounter.
 */
const enc = computed(() => {

	if (props.explore.enc) lastEnc.value = props.explore.enc;
	return lastEnc.value;

});

const encDesc = computed(() => { return enc.value ? enc.value.desc : '&nbsp;'; });

const encName = computed(() => {
	return enc.value ? enc.value.name.toTitleCase() : '&nbsp;';
});
const encProg = computed(() => {
	return enc.value ? enc.value.exp.valueOf() : 0;

});
const encLen = computed(() => {
	return enc.value ? enc.value.length.valueOf() : 0;
});

</script>


<template>
<div class='explore'>

	<span class="active-title">
		<span>{{ explore.name.toTitleCase() }}</span><button class="raid-btn"
		@click="gameEvents.emit(HALT_TASK, explore.locale, false)"
		@mouseenter.capture.stop="itemOver($event, explore.locale)">Flee</button>
		</span>

		<span class="bar"><ProgBar :value="explore.exp.valueOf()" :max="Number(explore.length)" /></span>

		<Bars v-if="explore.locale.bars" :bars="explore.locale.bars" />

		<template v-if="inCombat">
			<Combat :combat="explore.combat" />
		</template>
		<template v-else>

			<div @mouseenter.capture.stop="encOver($event)">
			<span class="name" v-html="encName"></span>
			<div class="desc" v-html="encDesc"></div>
			<ProgBar :value="encProg" :max="encLen" />
			</div>

			<div class="stressors">
			<div class="stress" v-for="s in stressors" :key="s.id" @mouseenter.capture.stop="itemOver($event, s)">
				<span>{{ s.name.toTitleCase() }}</span>
				<ProgBar :value="s.value.valueOf()" :max="s.max.value" />
			</div>
			</div>

		</template>

</div>

</template>


<style scoped>
.explore {
	display: flex;
	flex-flow: column;
	overflow-y: hidden;
	padding: var(--md-gap);
	flex-basis: 50%;
	flex-grow: 2;
}

div.explore div.stressors {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.name {
	font-weight: bold;
}

div.stressors .stress {
	flex-basis: 48%;
}

div.explore .active-title {
	display: flex;
	min-width: 20rem;
}

div.explore .active-title>span {
	margin-right: 1rem;
}
</style>