<script setup>
import { computed } from 'vue';
import Game from '../../game';

const props = defineProps(['item', 'smn']);
///name: 'summon',

const summon = computed(() => {
	return props.smn || props.item.summon
});
const itemName = computed(() => {
	return Game.state.getData(summon.value.id).name.toTitleCase()
});
const cap = computed(() => {
	return summon.value.max || "Unlimited"
});
const count = computed(() => {
	return summon.value.count || 1
});

</script>

<template>

<div class="summon">

	<div v-if="Array.isArray(summon)">
		<div v-for="(smnunit, idx) in summon" :key="'smn-' + idx">
			<div v-if="idx !== 0" class="info-sect"></div>
			<Summon :item="item" :smn="smnunit" />
		</div>
	</div>
	<div v-else>
			<div>Name: {{ itemName }}</div>
			<div>Amount: {{ count }}</div>
			<div>Max: {{ cap }}</div>
	</div>
</div>

</template>