<script setup>
import Profile from 'modules/profile';
import { computed, ref } from 'vue';
import { appEvents } from '../events';
import Confirm from './components/confirm.vue';

const emits = defineEmits(['open']);

const hasHall = computed(() => { return Profile.hasHall() });

const VERSION = computed(() => { return window.__VERSION; });

const fileInputRef = ref();

const fileSelect = (e) => {

	e.stopPropagation();
	e.preventDefault();

	appEvents.emit('load-file', e.target.files);

}

const fileDrop = (e) => {
	e.stopPropagation();
	e.preventDefault();

	e.target.classList.remove('hilite');

	const dt = e.dataTransfer;
	appEvents.emit('load-file', dt.files);

}
const fileDrag = (e) => {
	e.stopPropagation();
	e.preventDefault();
	e.currentTarget.classList.add('hilite');
}
const dragOut = (e) => {
	e.stopPropagation();
	e.preventDefault();
	e.currentTarget.classList.remove('hilite');
}
</script>

<template>

	<div class="top-bar">

		<span class="load-opts" >
			<button @click="appEvents.emit('save')">Save</button>
			<button @click="appEvents.emit('load')">Load</button>

			<button class="text-button"
				@click.self="appEvents.emit('save-file', $event)">Get Save</button>

			<button v-if="hasHall" class="text-button"
				@click.self="appEvents.emit('hall-file', $event)">Hall Save</button>

			<!--<input type="file" name="[File]" accept="text/json" @change="fileDrop">-->
			<button id="drop-file" @click="fileInputRef.click()" @drop="fileDrop" @dragover="fileDrag" @dragleave.capture.stop="dragOut" name="[Load Save]">[Load Save]</button>
			<input ref="fileInputRef" type="file" @change="fileSelect" accept="text/json text/*">

			<Confirm @confirm="appEvents.emit('reset')">Wipe Wizard</Confirm>
		</span>

		<span class="items"><slot name="center"></slot></span>

		<span class="link-bar">
			<a href="https://mathiashjelm.gitlab.io/arcanum/" target="_blank">Stable</a>
			<a href="https://discord.gg/bCABC96" target="_blank">Discord</a>
			<a href="https://gitlab.com/mathiashjelm/arcanum/-/wikis/home" target="_blank">Wiki</a>
			<a href="https://www.reddit.com/r/wizrobe/" target="_blank">Reddit</a>
			<span class="vers">Version: {{ VERSION }}</span>
			<button class="text-button" @click="emits('open')">&#9881;</button>
		</span>

	</div>


</template>

<style scoped>
span.vers {
	font-size: 0.9em;
	align-self: center;
	margin-bottom: var(--sm-gap);
}

div.text-button a {
	text-decoration: none;
}

input[type="file"] {
	display: none;
}

#drop-file {
	border: var(--tiny-gap) dashed var(--quiet-text-color);
}

.load-opts {
	display: flex;
}

.load-opts button {
	height: 100%;
}

.load-opts .text-button {
	max-height: var(--lg-gap);
}

span.load-message {
	padding: var(--md-gap) var(--md-gap) var(--tiny-gap);
}

span.items {
	text-transform: capitalize;
}
</style>
