<script setup>
import { ref } from 'vue';
/**
 * @property {string} confirm - confirm display text.
 * @property {string} cancel - cancel display text.
 */

const props = defineProps(['confirm', 'cancel']);
const emits = defineEmits(['click', 'confirm']);

const btnConfirm = ref(props.confirm ?? 'Confirm');
const btnCancel = ref(props.cancel ?? 'Cancel');
const confirming = ref(false);

/**
 * @public
 * Resets the confirm dialog when the Confirm prompt
 * is no longer applicable.
 */
const reset = () => {
	confirming.value = false;
}
const mainClick = () => {
	confirming.value = true;
	emits('click');
}
const confirmClick = () => {
	confirming.value = false;
	emits('confirm');
}
const cancelClick = () => {
	confirming.value = false;
	emits('cancel');
}

</script>


<template>
	<span class="my-span" v-if="confirming">
		<button type="button" @click="confirmClick">{{ btnConfirm }}</button>
		<button type="button" @click="cancelClick">{{ btnCancel }}</button>
	</span>
	<span v-else class="my-span">
		<button type="button" @click="mainClick"><slot>Delete</slot></button>
	</span>

</template>

<style scoped>
span.my-span {
	display: contents;
}
</style>
