<script setup>
import { ref, watch, onMounted } from 'vue';
import { elmId } from '../itemsBase';

/**
 * @property {object[]} items - items to filter.
 * @property {prop} [prop='name'] - target prop of filter test.
 *
 * @property {number} [minItems=0] - minimum number of items before box is visible.
 */
const props = defineProps(['modelValue', 'items', 'prop', 'minItems']);
const emits = defineEmits(['update:modelValue']);

const text = ref('');
const pprop = ref(props.prop || 'name');

onMounted(() => {
	updateFiltered();
});

watch(() => props.items, (newItems, oldItems) => {
	updateFiltered();
});

const updateFiltered = () => {

	const txt = text.value?.toLowerCase();
	if (!txt) {
		emits('update:modelValue', props.items);
		return;
	}

	const p = pprop.value;
	if (typeof p === 'function') {

		emits('update:modelValue', props.items.filter(
			it => p(it, txt)
		));

	} else {
		emits('update:modelValue', props.items.filter(
			it => (typeof it === 'object') &&
				(typeof it[p] === 'string') && it[p].toLowerCase().includes(txt)
		));
	}

};

const updateText = (e) => {

	const txt = (e.target).value;

	// no change.
	if (text.value === txt) return;

	text.value = txt;
	updateFiltered();


}
</script>


<template>
	<div class="filter-box" v-if="!minItems || text || (items.length >= minItems)">
		<label :for="elmId('filter')">Find</label>
		<input :id="elmId('filter')" :value="text" @input="updateText($event)" type="text">
	</div>
</template>


<style scoped>
label {
	margin-right: var(--md-gap);
}
</style>