<script setup>
import Game from '../../game';
import { elmId, locked } from '../itemsBase.js';
import { alphasort, levelsort } from '../../util/util';
import { ref, computed, shallowRef } from 'vue';
import Settings from '../../modules/settings';
import ProgBar from '../components/progbar.vue';
import FilterBox from '../components/filterbox.vue';
import Explore from '../items/explore.vue';
import { LOG_COMBAT, gameEvents } from '../../events';
import { EXPLORE, DUNGEON, LOCALE, CLASH } from '../../values/consts';
import { defineAsyncComponent } from 'vue';
import { useRollOver } from '../../store/popups';

const Inv = defineAsyncComponent(() => import('./inventory.vue'));

const { itemOver } = useRollOver();

const MAX_ITEMS = 7;

const props = defineProps(['state']);

const ops = Settings.getSubVars(EXPLORE);

const showDone = ref(ops.hasOwnProperty('showDone') ? ops.showDone : true);
const showCombatDungeon = ref(
	ops.hasOwnProperty('showCombatDungeon') ? ops.showCombatDungeon : true);
const showLocale = ref(ops.hasOwnProperty('showLocale') ? ops.showLocale : true);
const showClash = ref(ops.hasOwnProperty('showClash') ? ops.showClash : true);
const lvlSort = ref(ops.lvlSort);
const log = ref(Game.log);

const filtered = shallowRef(null);

const chkLevelSort = computed({
	get() { return lvlSort.value; },
	set(v) {
		lvlSort.value = Settings.setSubVar(EXPLORE, 'lvlSort', v);
	}
});
const chkShowDone = computed({
	get() { return showDone.value; },
	set(v) {
		showDone.value = Settings.setSubVar(EXPLORE, 'showDone', v);
	}
});

const chkShowCombatDungeon = computed({
	get() { return showCombatDungeon.value; },
	set(v) {
		showCombatDungeon.value = Settings.setSubVar(EXPLORE, 'showCombatDungeon', v);
	}
});

const chkShowClash = computed({
	get() { return showClash.value; },
	set(v) {
		showClash.value = Settings.setSubVar(EXPLORE, 'showClash', v);
	}
});

const chkShowLocale = computed({
	get() { return showLocale.value; },
	set(v) {
		showLocale.value = Settings.setSubVar(EXPLORE, 'showLocale', v);
	}
});

const drops = computed(() => { return Game.state.drops; });

const combatLog = computed(() => {

	const items = log.value.items;
	let count = 0;
	const a = [];

	for (let i = items.length - 1; i >= 0; i--) {

		const it = items[i];
		if (it.type === LOG_COMBAT) {

			a.push(it);
			if (++count === MAX_ITEMS) break;

		}

	}

	return a;

});

const explore = computed(() => { return props.state.explore; });

/**
 * Only sort once.
 */
const allLocs = computed(() => {
	return props.state.filterItems(
		(it) => (it.type === DUNGEON || it.type === LOCALE || it.type === CLASH)
	).sort(lvlSort.value ? levelsort : alphasort);
});

const locales = computed(() => {

	const d = showDone.value;
	const cd = showCombatDungeon.value;
	const l = showLocale.value;
	const cl = showClash.value;

	return allLocs.value.filter(
		it => !locked(it) && (d || it.value <= 0) &&
			(cd || it.type !== DUNGEON) &&
			(l || it.type !== LOCALE) &&
			(cl || it.type !== CLASH)
	);

});
</script>


<template>

<div class="adventure">

		<!-- also contains combat -->
		<Explore v-if="explore.running" :explore="explore" />

		<div class="content" v-else>
			<div class="top">

				<span>
				<span class="opt"><input :id="elmId('lvlSort')" type="checkbox" v-model="chkLevelSort">
				<label :for="elmId('lvlSort')">Sort Level</label></span>
				</span>

				<span>
				<span class="opt"><input :id="elmId('showDone')" type="checkbox" v-model="chkShowDone">
				<label :for="elmId('showDone')">Complete</label></span>
				<span class="opt"><input :id="elmId('ShowCombatDungeon')" type="checkbox" v-model="chkShowCombatDungeon">
				<label :for="elmId('ShowCombatDungeon')">Dungeon</label></span>
				<span class="opt"><input :id="elmId('ShowClash')" type="checkbox" v-model="chkShowClash">
				<label :for="elmId('ShowClash')">Clash</label></span>
				<span class="opt"><input :id="elmId('showLocale')" type="checkbox" v-model="chkShowLocale">
				<label :for="elmId('showLocale')">Explore</label></span>
				</span>


				<FilterBox class="inline" v-model="filtered" :items="locales" min-items="8" />


			</div>
			<div class="locales">

				<div class="locale" v-for="d in filtered" :key="d.id">

					<span class="separate">
						<!-- EVENT MUST BE ON OUTER SPAN - CHROME -->
					<span @mouseenter.capture.stop="itemOver($event, d)"><span>{{ d.sname.toString().toTitleCase() }}</span>

					<button class="raid-btn" :disabled="!Game.canRun(d)" @click="gameEvents.emit('task', d)">Enter</button></span>


					<span class="sym">{{ d.sym }}</span>
					</span>

					<ProgBar :value="d.exp.valueOf()" :max="d.length.valueOf()" />

				</div>

			</div>
		</div>

	<div class="raid-bottom" v-if="explore.running || drops.count > 0">

		<Inv class="inv" :inv="state.inventory" types="potion" nosearch = "true" combat = "true" />
		<div class="log">
			<!--<span v-if="exploring">Exploring...<br></span>-->

			<div class="outlog">
			<div class="log-item" v-for="(it, i) in combatLog" :key="i">
				<div><span class="log-title" v-if="it.title">{{ it.title.toString().toTitleCase() }}</span></div>
				<span class="log-text" v-if="it.text">{{ it.text }}</span>
			</div>
			</div>
		</div>

	</div>

</div>

</template>

<style scoped>
.sym {
	align-self: center;
}

div.adventure {
	display: flex;
	padding: 0 1rem;
	align-self: flex-start;
	flex-flow: column;
	padding: 0;
	margin: 0;
	height: 100%;
	overflow-y: hidden;

}

div.adventure .content {
	flex-basis: 70%;
	flex-grow: 1;
	overflow: hidden;
}

div.top {
	padding-left: var(--md-gap);
	width: 100%;
	justify-content: space-evenly;
}

div.locales {

	display: flex;
	flex-flow: row wrap;
	grid-gap: 0;
	flex-grow: 1;
	justify-content: space-between;
	overflow-y: auto;
	min-height: 50%;
	height: 100%;
	padding: var(--tiny-gap) var(--md-gap);

}

div.locales .locale {
	flex-basis: 48%;
}


body.compact div.adventure>div.locales {
	display: grid;
	grid-template-columns: minmax(9rem, 1fr) repeat(auto-fit, minmax(9rem, 1fr));
}

body.compact div.adventure>div.locales .locale {
	background: var(--list-entry-background);
}

body.compact div.adventure>div.locales .locale .bar {
	border: none;
}

div.adventure>div.locales .locale {
	padding: var(--md-gap);
	border-radius: var(--list-entry-border-radius);
	display: flex;
	flex-flow: column;
	height: 100%;
}

div.adventure>div.locales .locale>span:nth-child(1) {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	flex: 1;
}



div.raid-bottom {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	border-top: 1px solid var(--separator-color);
	min-height: 0;
	max-height: 35%;
	width: 100%;
	overflow-y: auto;
}

.menu-content div.adventure .log span {
	padding: var(--sm-gap);
}

.menu-content div.adventure .log .outlog {
	overflow-y: auto;
	overflow-x: hidden;
}

.raid-bottom .log {
	flex: 1;
	font-size: var(--compact-small-font);
	border-left: 1px solid var(--separator-color);
	display: flex;
	flex-direction: column;
	flex-basis: 50%;
	flex-grow: 1;
	margin: 0;
}
</style>
