<script setup>
import { TYP_RANGE } from '@/values/consts';
import { NpcLoreLevels } from '@/values/craftVars';
import { npcCost } from 'modules/craft';
import { computed, ref, shallowRef } from 'vue';
import { TRY_USE, gameEvents } from '../../events';
import Game from '../../game';
import { useRollOver } from '../../store/popups';
import FilterBox from '../components/filterbox.vue';

const sortBy = ref('level');
const filtered = shallowRef(null);
const sortOrder = ref(1);
const loreLevels = ref({});

const { itemOver } = useRollOver();

const tryUse = (m) => {
	gameEvents.emit(TRY_USE, m);
}

const loreLevel = (m) => {
	const lore = loreLevels.value[m.kind];
	if (lore === undefined) {
		return loreLevels.value[m.kind] = NpcLoreLevels(m.kind, Game);
	}
	return lore;
}

const showHp = (m) => {
	return loreLevel(m) >= 4 * m.level;

}

const toNum = (v) => {
	return (typeof v === 'object' ?
		(v.type === TYP_RANGE ? v.max : v.valueOf()) : v).toFixed(0);
}

const setSort = (by) => {

	if (sortBy.value === by) {
		sortOrder.value = -sortOrder.value;
	} else sortBy.value = by;

}

const minions = computed(() => { return Game.state.minions; });

const allItems = computed(() => {

	const all = Game.state.monsters;
	for (let i = all.length - 1; i >= 0; i--) {
		all[i].name = all[i].name.toTitleCase()
	}
	const a = [];

	for (let i = all.length - 1; i >= 0; i--) {

		const it = all[i];
		if (it.value <= 0) continue;
		if (!it.cost) it.cost = npcCost(it);
		a.push(it);

	}

	return a;

});

const searchItem = (it, t) => {

	if (it.name.includes(t)) return true;
	if (it.kind) return it.kind.includes(t);
	if (it.tags) {

		let tags = it.tags;
		for (let i = tags.length - 1; i >= 0; i--) {
			if (tags[i].includes(t)) return true;
		}

	}


	return false;


}

const sorted = computed(() => {

	const by = sortBy.value;
	const order = sortOrder.value;

	return (filtered.value || allItems.value).sort(
		(a, b) => {
			if (a[by] > b[by]) return order;
			else if (b[by] > a[by]) return -order;
			else return 0;

		}
	);
});

</script>

<template>
	<div class="bestiary">

	<FilterBox v-model="filtered" :prop="searchItem" :items="allItems" min-items="14" />

	<div class="char-list">
	<table class="bestiary">
		<tr>
			<th class="table-head" @click="setSort('name')">Creature</th>
			<th class="table-head" @click="setSort('level')">Level</th>
			<th class="table-head" @click="setSort('value')">Slain</th>
			<th class="num-align table-head" @click="setSort('hp')">Hp</th></tr>
		<tr v-for="b in sorted" :key="b.id" @mouseenter.capture.stop="itemOver($event, b)">
			<th class="lg-name">{{ b.name }}</th>
			<td class="num-align">{{ Math.floor(b.level) }}</td>
			<td class="num-align">{{ Math.floor(b.value) }}</td>
			<td class="num-align">{{ showHp(b) ? toNum(b.hp) : '???' }}</td>
			<td><button @click="tryUse(b)" :disabled="b.unique || !b.canUse(Game) || minions.freeSpace() == 0">Buy</button></td>
		</tr>
	</table>
	</div>
</div>
</template>

<style scoped>
tr .table-head {
	cursor: pointer;
	text-decoration: underline;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

div.bestiary {
	display: flex;
	flex-direction: column;
	margin-left: 0.9em;
	padding: 0;
	margin: 0;
}

.char-list {
	width: 100%;
	padding: 0;
	margin: 0;
	overflow-y: auto;
	margin-bottom: 1rem;
}

table.bestiary {
	border-spacing: var(--sm-gap) 0;
	border-collapse: collapse;
	row-gap: var(--sm-gap);
	column-gap: var(--md-gap);
}

tr:first-child .table-head {
	border-bottom: 1pt solid black;
	margin: var(--sm-gap);
}


.table-head {
	padding: var(--sm-gap) var(--md-gap);
}

td.num-align {
	padding: var(--md-gap);
}
</style>