<script setup>
import Game from "@/game";
import { ENCHANTSLOTS } from "@/values/consts";
import { defineAsyncComponent, computed, shallowRef, ref } from "vue";
import { gameEvents } from "../../events";
import { useRollOver } from "../../store/popups";
import FilterBox from "../components/filterbox.vue";
import EnchantSlots from "../items/enchantslots.vue";
import { locked } from "../itemsBase";
import { elmId } from "../itemsBase";

const Inv = defineAsyncComponent(() => import("./inventory.vue"));

const { itemOver } = useRollOver();
/**
 * @property {Item[]} filtered - filtered search results.
 */
const filtered = shallowRef(null);
/**
 * @property {Item} target - current enchant target.
 */
const target = shallowRef(null);

const viewKinds = ref([]);

const state = Game.state;
const runner = Game.state.runner;
const inv = Game.state.getData("inventory");
const enchantSlots = Game.state.getData(ENCHANTSLOTS);



const begin = (it, targ) => {
	/** @note test here for successful add to enchants? */
	gameEvents.emit("enchant", it, targ);

	inv.remove(targ);

	clearTarget();
};

const clearTarget = () => {
	target.value = null;
};

const resume = () => {
	Game.toggleTask(enchantSlots);
};

const canAlter = (it, targ) => {
	return targ && it.canAlter(targ) && enchantSlots.canAdd(it);
};

const enchants = computed(() => {
	return state.filterItems((it) => it.type === "enchant" && !locked(it));
});

const allKinds = computed(() => {
	/// all available enchant kinds.

	const kinds = [];

	for (const e of enchants.value) {
		const only = e.only;
		if (Array.isArray(only)) {
			for (const kind of only) {
				if (!kinds.includes(kind)) kinds.push(kind);
			}
		} else if (only && !kinds.includes(only)) {
			kinds.push(only);
		}
	}

	return kinds;
});

/// Enchants limited by selected enchant kinds.
const onlyKinds = computed(() => {

	const viewOnly = viewKinds.value;

	if (viewOnly.length > 0) {
		return enchants.value.filter((e) => {
			const only = e.only;
			if (Array.isArray(only)) {
				return viewOnly.some((v) => only.includes(v));
			} else if (typeof only === "string" && viewOnly.includes(only))
				return true;
		});
	}
	return enchants.value;
});

/**
 * Enchants usable for selected item.
 */
const usable = computed(() => {
	const t = target.value;
	if (!t) return filtered.value;

	return filtered.value.filter((it) => !it.owned || canAlter(it, t));
});
</script>

<template>
	<div class="enchants">
		<div class="separate">
			<div>
				<div @mouseenter.capture.stop="itemOver($event, target)">
					Target: {{ target ? target.name.toTitleCase() : "None" }}
				</div>
				<div class="note-text">
					Enchantment levels on an Item cannot exceed Item's enchant slots.
				</div>
			</div>

			<span
				><button :disabled="enchantSlots.count == 0" @click="resume">
					{{ runner.has(enchantSlots) ? "Pause" : "Resume" }}
				</button></span
			>
		</div>

		<EnchantSlots class="eslots" :eslots="enchantSlots" :inv="inv" />

		<div class="checkboxes">
			<div class="category" v-for="(p, k) in allKinds" :key="k">
				<input
					type="checkbox"
					:value="p"
					:id="elmId('chk' + k)"
					v-model="viewKinds"
				/>
				<label :for="elmId('chk' + k)">{{ p.replace("t_", "") }}</label>
			</div>
		</div>

		<div class="separate">
			<div class="filtered">
				<div v-if="target">
					<button class="stop" @click="clearTarget">X</button
					>{{ target.name.toTitleCase() }}
				</div>
				<FilterBox v-model="filtered" :items="onlyKinds" />

				<div class="enchant-list">
					<div
						class="enchant"
						v-for="it in usable"
						:key="it.id"
						@mouseenter.capture.stop="itemOver($event, it)"
					>
						<span class="ench-name">{{ it.name.toTitleCase() }}</span>

						<button
							v-if="it.buy && !it.owned"
							:disabled="!it.canBuy(Game)"
							@click="gameEvents.emit('buy', it)"
						>
							🔒
						</button>

						<button v-else @click="begin(it, target)" :disabled="!it.canUse()">
							Enchant
						</button>
					</div>
				</div>
			</div>

			<Inv
				v-model="target"
				selecting="true"
				:inv="state.inventory"
				:types="['armor', 'weapon']"
				:kinds="viewKinds"
				hide-space="true"
			/>
		</div>
	</div>
</template>

<style scoped>

div.enchants div.checkboxes {
  margin: 0;
  padding: 0 0.5em;
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
}

div.checkboxes div.category {
  display:flex;
  flex-direction: row;
  margin: 2px 4px;

}

div.enchants {
	display: flex;
	flex-direction: column;
	padding: 0 1rem;
	height: 100%;
	margin-top: var(--sm-gap);
}

div.enchants .eslots {
	padding-bottom: var(--sm-gap);
	border-bottom: 1pt solid var(--separator-color);
}

div.enchants .filtered {
	padding-top: var(--sm-gap);
	display: flex;
	flex-flow: column;
	margin-right: var(--md-gap);
	border-right: 1px solid var(--separator-color);
}

div.enchants .enchant-list {
	display: flex;
	flex-flow: column nowrap;
	flex: 1;
}

div.enchants .separate {
	align-items: flex-start;
}

div.enchants .enchant-list > div.enchant {
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-direction: row;
}

div.enchants .enchant-list .ench-name {
	min-width: 5rem;
}
</style>
