<script setup>
import CharPane from '../panes/charpane.vue';

/// Familiars.vue Probably unused.

defineProps(['familiar']);

</script>


<template>
	<div class="familiars">

		<CharPane :char="familiar" />
		<div class="familiarUpgrades">
		</div>

	</div>
</template>