<script setup>
import { alphasort } from '@/util/util';
import { HOME } from '@/values/consts';
import Settings from 'modules/settings';
import { computed, ref, shallowRef } from 'vue';
import { gameEvents } from '../../events';
import { useRollOver } from '../../store/popups';
import FilterBox from '../components/filterbox.vue';
import { elmId, locked, reslocked } from '../itemsBase';

/// unused?? preloading???

const props = defineProps(['state']);

const opts = Settings.getSubVars(HOME);

/**
 * @property {boolean} showMaxed
 */
const showMaxed = ref(opts.hasOwnProperty('showMaxed') ? opts.showMaxed : true);
const showOwned = ref(opts.hasOwnProperty('showOwned') ? opts.showOwned : true);
const showUnowned = ref(opts.hasOwnProperty('showUnowned') ? opts.showUnowned : true);
const showBlocked = ref(opts.hasOwnProperty('showBlocked') ? opts.showBlocked : true);

const { itemOver } = useRollOver();

/**
 * @property {Item[]} filtered - items after text-search filtering.
 */
const filtered = shallowRef(null);

const empty = () => {
	return (Math.floor(props.state.getData('space').free()) <= 0);
}
const searchIt = (it, t) => {

	if (it.name.includes(t)) return true;
	if (it.tags) {

		const tags = it.tags;
		for (let i = tags.length - 1; i >= 0; i--) {
			if (tags[i].includes(t)) return true;
		}

	}
	if (it.mod && typeof it.mod === 'object') {

		for (const p in it.mod) {
			if (props.state.getData(p) && typeof props.state.getData(p) === 'object') {
				if (props.state.getData(p).name.includes(t)) return true;
			}
		}

	}
	if (it.convert) {

		for (const p in it.convert.input) {
			if (props.state.getData(p) && typeof props.state.getData(p) === 'object') {
				if (props.state.getData(p).name.includes(t)) return true;
			}
		}
		for (const p in it.convert.output.effect) {
			if (props.state.getData(p) && typeof props.state.getData(p) === 'object') {
				if (props.state.getData(p).name.includes(t)) return true;
			}
		}
		for (const p in it.convert.output.mod) {
			if (props.state.getData(p) && typeof props.state.getData(p) === 'object') {
				if (props.state.getData(p).name.includes(t)) return true;
			}
		}

	}
	return false;

}

const chkShowMax = computed({
	get() { return showMaxed.value; },
	set(v) { showMaxed.value = Settings.setSubVar(HOME, 'showMaxed', v); }
});
const chkShowOwned = computed({
	get() { return showOwned.value; },
	set(v) { showOwned.value = Settings.setSubVar(HOME, 'showOwned', v); }
});
const chkShowUnowned = computed({
	get() { return showUnowned.value; },
	set(v) { showUnowned.value = Settings.setSubVar(HOME, 'showUnowned', v); }
});
const chkShowBlocked = computed({
	get() { return showBlocked.value; },
	set(v) { showBlocked.value = Settings.setSubVar(HOME, 'showBlocked', v); }
});

const homesAvail = computed(() => { return props.state.homes.filter(v => !locked(v)); });

const space = computed(() => { return props.state.getData('space'); });

/**
 * @property {GData[]} furniture - ALL furniture, alpha sorted.
 */
const furniture = computed(() => {

	const s = props.state;
	return s.filterItems(it =>
		it.type === 'furniture' || s.typeCost(it.cost, 'space') > 0 ||
		s.typeCost(it.mod, 'space') > 0
	).sort(alphasort);

});
const viewable = computed(() => {

	const o = showOwned.value;
	const n = showUnowned.value;
	const b = showBlocked.value;
	const m = showMaxed.value;

	return furniture.value.filter(it => !reslocked(it) &&
		(o || it.value == 0) &&
		(b || it.canUse(props.state)) &&
		(m || !it.maxed()) &&
		(n || it.value > 0)
	);

});

</script>

<template>
	<div class="home-furniture">
		<div class="top separate">

			<span>
				<span class="opt"><input :id="elmId('showMax')" type="checkbox" v-model="chkShowMax"><label
						:for="elmId('showMax')">Maxed</label></span>
				<span class="opt"><input :id="elmId('showOwn')" type="checkbox" v-model="chkShowOwned"><label
						:for="elmId('showOwn')">Owned</label></span>
				<span class="opt"><input :id="elmId('showUnowned')" type="checkbox" v-model="chkShowUnowned"><label
						:for="elmId('showUnowned')">Unowned</label></span>
				<span class="opt"><input :id="elmId('showBlock')" type="checkbox" v-model="chkShowBlocked"><label
						:for="elmId('showBlock')">Blocked</label></span>
			</span>

			<FilterBox class="inline"
				v-model="filtered"
				:prop="searchIt"
				:items="viewable" />
			<span class="space">Space: {{ Math.floor(space.free()) }} / {{ Math.floor(space.max.value) }}</span>
		</div>
		
		<div class="warn-text" style="text-align:center" v-if="empty()">No space remaining. Sell
			items or find a new Home.
			<span v-if="homesAvail.length > 0">If your max gold is not enough to buy a new home, free space for more
				chests.</span>
		</div>

		<div class="furniture-wrapper">
			<table class="furniture">

				<tr>
					<th>Space</th>
					<th class="name">Furnishing</th>
					<th>Owned</th>
					<th />
					<th />
				</tr>


				<tr v-for="it in filtered" :key="it.id" @mouseenter.capture.stop="itemOver($event, it)">

					<td class="space">{{ it.cost?.space?.valueOf() ?? it.mod?.space?.valueOf() }}</td>
					<template v-if="typeof it.max !== 'undefined'">
						<td class="name">{{ it.name }}</td>
						<td class="count">{{ it.valueOf() }}/{{ it.max.valueOf() }}</td>
					</template>
					<template v-else-if="it.repeat == true">
						<td class="name">{{ it.name }}</td>
						<td class="count">{{ it.value.valueOf() }}</td>
					</template>
					<template v-else>
						<td class="name">{{ it.name }}</td>
						<td class="count">{{ it.value.valueOf() }}/1</td>
					</template>
					<td><span v-if="it.maxed()" class="sm">Max</span><button v-else type="button"
							:disabled="!it.canUse()" class="buy-btn" @click="gameEvents.emit('upgrade', it)">Buy</button></td>

					<td><button type="button" :disabled="it.value <= 0" class="sell-btn"
							@click="gameEvents.emit('sell', it)">Sell</button></td>

				</tr>

			</table>
		</div>
	</div>
</template>

<style scoped>
span.space {
	text-align: center;
	margin: 0px var(--lg-gap);
}

span.sm {
	margin: var(--sm-gap);
}

div.top {
	flex-wrap: wrap;
}

div.home-furniture {
	width: 100%;
	overflow-y: auto;
	height: 100%;
	flex-direction: column;
	margin-bottom: var(--md-gap);
}

div.furniture-wrapper {
	width: 100%;
	overflow-y: auto;
	height: 100%;
	flex-direction: column;
	margin-bottom: var(--md-gap);
}

.home-furniture table {
	text-transform: capitalize;
	flex-grow: 1;
	border-spacing: 0;
	flex: 1;
	min-height: 0;
	width: 100%;
	max-width: 20rem;
	display: flex;
	flex-direction: column;
}

.home-furniture table tr {
	display: flex;
	padding: var(--sm-gap);
}

.home-furniture table tr:first-child {
	position: sticky;
	top: 0;
	background: var(--header-background-color);
	z-index: 1;
}

.home-furniture table tr>*:nth-child(1) {
	flex-basis: 20%;
}

.home-furniture table tr>*:nth-child(2) {
	flex-basis: 40%;
}

.home-furniture table tr>*:nth-child(3) {
	flex-basis: 20%;
}

.home-furniture table tr button {
	margin: 0;
	font-size: 0.75em;
}


table .count,
table .space {
	text-align: center;
}

table .name {
	padding: 0 var(--md-gap) 0 0.9rem;
	min-width: 10em;
	text-align: left;
}

table tr:nth-child(2n) {
	background: var(--odd-list-color);
}
</style>
