<script setup>
import Game from '@/game';
import { computed, defineAsyncComponent, ref, onMounted } from 'vue';
import { HOME } from '@/values/consts';
import Profile from 'modules/profile';
import Settings from 'modules/settings';
import VueMenu from '../components/menu.vue';
import SlotPick from '../components/slotpick.vue';
import { locked } from '../itemsBase';
import Furniture from './furniture.vue';

const Hall = defineAsyncComponent(() => import('../hall/hall.vue'));
const Converters = defineAsyncComponent(() => import('./converters.vue'));

const props = defineProps(['state']);

const opts = Settings.getSubVars(HOME);

const hallOpen = ref(false);
const hsection = ref(null);


const openHall = () => { hallOpen.value = true; }

const closeHall = () => { hallOpen.value = false; }

const gameLoaded = () => {
}

const hallUnlocked = computed(() => { return Game.state.getData('evt_hall') > 0; });
const hallName = computed(() => { return Profile.hall.name; });

const menuItems = computed(() => {
	return props.state.sections.filter(it => !locked(it) && it.parent === "home");
});
const section = computed({

	get() { return (hsection.value || 'sect_furniture'); },
	set(v) {
		hsection.value = v;
		if (v) Settings.set('homeview', v.id);
	}
});


onMounted(() => {
	const homeview = Settings.get('homeview') || 'sect_furniture';
	section.value = Game.state.sections.find(v => v.id === homeview);
})

</script>

<template>
	<div class="home-view">

		<Hall v-if="hallOpen" @close="closeHall" />
		<div class="pick-slots">

			<button class="task-btn" v-if="hallUnlocked" @click="openHall">{{ hallName }}</button>

			<SlotPick title="Home" pick="home" must-pay=true nonetext = 'Move in' :state="state"/>
			<SlotPick title="Werry" hide-empty=true pick="werry" :state="state" />

		</div>

		<div class="content">
			<VueMenu class="home-mid" :items="menuItems" v-model="section">
				<template v-slot:sect_furniture>
					<Furniture class="home-furniture" :state="state" />
				</template>
				<template v-slot:sect_converters><Converters/></template>
			</VueMenu>

		</div>

	</div>
</template>

<style scoped>
div.home-view {
	display: flex;
	height: 100%;
	width: 100%;
	flex-flow: row nowrap;
	padding-left: 1rem;
	padding-right: 1rem;
}

div.home-mid,
div.home-mid div.menu-items {

	width: 100%;
}

div.home-mid div.home-furniture {
	display: flex;
	overflow-y: auto;
	height: 93%;
	flex-basis: 100%;
}

div.home-view .content {
	display: flex;
	overflow-y: hidden;
	height: 100%;
	flex-direction: row;
	width: 100%;
	padding-top: var(--tiny-gap);
}

div.pick-slots {

	display: flex;
	flex-flow: column nowrap;

	margin-top: 0.9em;
	margin-right: 1rem;
	flex-basis: 5rem;
}
</style>
