<script setup>
import Profile from '@/modules/profile';
import { floor, lowFixed, precise } from '@/util/format';
import { computed, defineAsyncComponent, ref, defineProps, shallowRef, triggerRef } from 'vue';
import { gameEvents } from '../../events';
import { useRollOver } from '../../store/popups';
import { getDelay } from '../../values/consts';
import SlotPick from '../components/slotpick.vue';
import AllUpgrades from '../panes/allupgrades.vue';
import Choice from '../popups/choice.vue';

const props = defineProps(['player', 'state']);

const Hall = defineAsyncComponent(() => import('ui/hall/hall.vue'));

const hallOpen = ref(false);

const { itemOver } = useRollOver();

const wizName = computed({
	get() { return props.player.name },
	set(v) {
		if (v) props.player.setName(v);
	}
});


const hallUnlocked = computed(() => { return Profile.hasHall(); });
const hallName = computed(() => { return Profile.hall.name; });

const speed = computed(() => {
	return props.player.speed.value
});
const delay = computed(() => {
	return "".concat('Turn delay: ', getDelay(props.player.speed.value).toPrecision(2), ' seconds')
});
/**
 * @note intentionally GData. make clearer.
 */
const stamina = computed(() => { return props.player.stamina; });
const hp = computed(() => { return props.player.hp; });

/*const bonusNames = computed(() => {
	return Object.keys(props.player.bonuses);
});
const hitNames = computed(() => {
	return Object.keys(props.player.hits);
});*/
const potencies = computed(() => { return props.state.potencies });
const level = computed(() => { return props.player.level.value });

const defense = computed(() => { return props.player.defense.valueOf() });
const dodge = computed(() => { return Math.floor(props.player.dodge.valueOf()) });
const luck = computed(() => { return Math.floor(props.player.luck.valueOf()) });
const damage = computed(() => { return props.player.damage.valueOf() });
const tohit = computed(() => { return props.player.tohit.value; });
const exp = computed(() => { return floor(props.player.exp.value); });
const next = computed(() => { return floor(props.player.next); });

const dist = computed(() => { return props.player.dist; });
const chaincast = computed(() => { return (props.player.chaincast - 1).toPrecision(3); });
const sp = computed(() => { return props.player.sp; });
const spStr = computed(() => { return lowFixed(props.player.sp); });

const openHall = () => { hallOpen.value = true; }

const closeHall = () => { hallOpen.value = false; }

const selRef = shallowRef();
const pickingTitle = ref(false);
const pickTitle = (evt) => {

	pickingTitle.value = true;
	selRef.value = evt.target;

}

const title = shallowRef(props.player.title);
const selectTitle = (selTitle)=>{

	if (selTitle) {
		props.player.title = selTitle;
		title.value = selTitle;
		triggerRef(title);
	}
	pickingTitle.value=false;

}


</script>


<template>

	<div class="player-view">

		<Choice
			v-if="pickingTitle"
			@selected="selectTitle"
			@cancel="pickingTitle=false"
			:choices="player.titles"
			:elm="selRef"
			strings="true"

		/>

		<Hall v-if="hallOpen" @close="closeHall" />

		<div class="player-tables">

		<div>
		<table>
		<tr><td>Name</td><th class="text-entry">
			<input class="fld-name" type="text" v-model="wizName"></th></tr>

		<tr v-if="hallUnlocked"><td></td><th><button @click="openHall">{{ hallName }}</button></th></tr>

		<tr @mouseenter.capture.stop="itemOver($event, player.titles, null, 'Titles')">
			<td><span v-if="player.titles.length > 0">
				<button class="config" @click="pickTitle($event)"></button>
			</span>Title</td><th> {{ title }}</th></tr>
		<tr><td>Notoriety</td><th>{{ Math.floor(player.fame.valueOf()) }}</th></tr>
		<tr><td>Level</td><th> {{ level }}</th></tr>
		<tr><td>Experience</td><th> {{ exp }} / {{ next }} </th></tr>
		<tr><td>Virtue : Evil</td><th> {{ Math.floor(player.virtue.valueOf()) }} : {{ Math.floor(player.evilamt.valueOf()) }}</th></tr>
		<tr><td @mouseenter.capture.stop="itemOver($event, sp)">Skill Points</td><th> {{ spStr }}</th></tr>


		<tr><td>Rest</td><th><SlotPick pick="rest" :state="state" /></th></tr>
		<tr><td>Mount</td><th><SlotPick pick="mount" :state="state" /></th></tr>
		<tr><td>Companion</td><th><SlotPick pick="companion" :state="state" /></th></tr>
		<tr><td @mouseenter.capture.stop="itemOver($event, dist)">Distance</td><th>{{ dist.current }}</th></tr>
		</table>
		</div>

		<div>
		<table>
			<tr><td @mouseenter.capture.stop="itemOver($event, hp)">Life</td><th>
			{{ floor(hp.valueOf()) }} / {{ floor(hp.max.value) }}</th></tr>

			<tr><td>Stamina</td><th>
			{{ floor(stamina.valueOf()) }} / {{ floor(stamina.max.value) }}</th></tr>

			<tr @mouseenter.capture.stop="itemOver($event, null, null, null, 'Reduces damage taken. If in defensive stance, used to determine parry chance')">
			<td>Defense</td><th>{{ defense }} </th> </tr>
			<tr @mouseenter.capture.stop="itemOver($event, null, null, null, 'Determines your chance to dodge. You cannot dodge while in defensive stance.')">
			<td>Dodge</td><th>{{ dodge }} </th> </tr>
			<tr><td>Luck</td><th>{{ luck }}</th></tr>
			<tr><td>Damage Bonus</td><th>{{ damage }}</th></tr>
			<tr><td>Extra spell casts</td><th>{{ chaincast }}</th></tr>
			<tr @mouseenter.capture.stop="itemOver($event, null, null, null, 'Determines your accuracy. If equal to opponent\'s dodge, hit chance is 75%.')">
			<td>Hit Bonus</td><th>{{ precise(tohit) }} </th> </tr>

			<tr @mouseenter.capture.stop="itemOver($event, null, null, null, delay)">
				<td>Speed</td><th>{{ speed }} </th> </tr>
			<tr @mouseenter.capture.stop="itemOver($event, player.weapon)">
				<td>Weapon</td><th>{{ player.weapon ? player.weapon.name.toTitleCase() : 'None' }}</th></tr>


		</table>
		</div>

		<div>
		<table class="resists">
			<tr><th>Resists</th></tr>
			<tr v-for="(r, k) in player.resist" :key="k">
				<td>{{ k.toString().toTitleCase() }}</td><td class="num-align">{{ precise(r.value) }}%</td>
			</tr>
		</table>
		</div>

		<div>
		<table class="bonuses">
			<tr><th>Bonus Damage</th></tr>
			<tr v-for="(r, k) in player.bonuses" :key="k">
				<td v-if="r.valueOf() !== 0">{{ k.toString().toTitleCase() }}: {{ r.valueOf() }}</td>
			</tr>
		</table>
		</div>

		<div>
		<table class="hits">
			<tr><th>Hit Bonus</th></tr>
			<tr v-for="(r, k) in player.hits" :key="k">
				<td v-if="r.valueOf() !== 0">{{ k.toString().toTitleCase() }}: {{ precise(r.valueOf()) }}</td>
			</tr>
		</table>
		</div>

		<div>
		<table class="immunities">
			<tr><th>Immunities</th></tr>
			<tr v-for="(r, k) in player.immunities" :key="k">
				<td v-if="r > 0">{{ k.toString().toTitleCase() }}</td>
			</tr>
		</table>
		</div>

		<div>
		<table class="potencies">
			<tr><th>Potencies</th></tr>
			<template v-for="(a, k) in potencies" :key="k">
			<tr v-if="precise(a.value) != 100">
				<td>{{ a.name.replace(" damage", "").toTitleCase() }}</td><td class="num-align">{{ precise(a.value) }}%</td>
			</tr>
			</template>
		</table>
		</div>
		

		</div>

		<AllUpgrades />

	</div>

</template>

<style scoped>
div.player-view {
	display: flex;
	flex-direction: row;
	height: 100%;
	padding-left: 1rem;
	justify-content: space-between;
}

div.player-view div.player-tables {
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
	flex-grow: 1;
}

div.player-tables div {
	margin-top: var(--md-gap);
	flex-basis: 50%;
}

div.player-view input[type=text].fld-name {
	margin: 0;
}

div.player-view input[type=text] {
	border: none;
	background: transparent;
	font-size: 1em;
	cursor: text;
	position: relative;
}

td,
th {
	padding: var(--tiny-gap) var(--sm-gap);
	vertical-align: text-top;
}

td {
	text-align: right;
}

th {
	text-align: left;
}
</style>
