<script setup>
import { computed, ref, shallowRef } from 'vue';
import Game from '../../game';
import { elmId, reslocked } from '../itemsBase';
import SkillView from '../items/skill.vue';
import Settings from 'modules/settings';
import { lowFixed } from '../../util/format';
import { alphasort } from '../../util/util';

import FilterBox from '../components/filterbox.vue';

const props = defineProps(['state']);

const ops = Settings.getSubVars('skills');
const hideMaxed = ref(ops.hideMaxed ?? false);

const skills = computed(() => { return props.state.skills.sort(alphasort); });


const available = computed(() => {
	return hideMaxed.value ?
		skills.value.filter(it => !it.maxed() && !reslocked(it)) :
		skills.value.filter(it => !reslocked(it));
});

/**
 * @property {Item[]} filtered - filtered search results.
 */
const filtered = shallowRef(available.value ?? []);


const chkHide = computed({
	get() { return hideMaxed.value; },
	set(v) {
		hideMaxed.value = Settings.setSubVar('skills', 'hideMaxed', v);
	}
});
const sp = computed(() => { return lowFixed(props.state.getData('sp').value); });


const train = (skill) => {
	Game.toggleTask(skill);
}

</script>

<template>
	<div class="skills">

		<span class="separate title">
			<FilterBox v-model="filtered" :items="available" min-items="7" />

			<span><input :id="elmId('hideMax')" type="checkbox" v-model="chkHide">
			<label :for="elmId('hideMax')">Hide Maxed</label></span>

			<span>Skill Points: {{ sp }}</span>
		</span>

		<div class="subs">
			<SkillView v-for="s in filtered" :key="s.id"
				:state="state"
				:skill="s"
				:active="s.running"
				@train="train"></SkillView>
		</div>

	</div>
</template>

<style scoped>
div.skills .title>span {
	align-self: center
}

div.skills {
	height: 100%;
	width: (100% - 40px);
	max-width: (100% - 40px);
	padding: 0;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.skill div:last-child {
	color: var(--quiet-text-color);
	text-align: center;
}

body.compact .skill div:last-child {
	display: flex;
}

body.compact div.subs {
	justify-content: center;
}

body.compact div.subs div.skill {
	background: var(--list-entry-background);
	width: 100%;
}

body.compact div.subs div.skill>div>div .bar {
	max-height: var(--md-gap);
	background: var(--list-entry-background);
	border: none;
	margin: 0.5em
}

div.subs {
	overflow-y: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(12rem, 0.5fr));
	margin: 0;
	padding: var(--md-gap);
	overflow-x: hidden;
	gap: var(--sm-gap);
	width: 100%;
	justify-content: space-between;
}

div.subs div.skill {
	margin-bottom: 0;
	width: unset;
	flex-basis: 100%;
	box-sizing: border-box;
	padding: var(--md-gap);
	text-transform: capitalize;
	font-size: var(--compact-small-font);
	border-radius: var(--list-entry-border-radius);
	width: 83%;
}

div.sub div.skill button {
	font-size: 0.75em;
}

div.sub div.skill>div {
	font-size: 0.75em;
	position: relative;
	text-align: right;
	display: flex;
	flex: 1;
	align-items: center;
}

div.subs div.skill>div>div {
	flex: 1;
}

div.subs div.skill .separate span:first-child {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

div.subs div.skill .separate span:nth-child(2) {
	flex-basis: 50%;
	color: var(--quiet-text-color);
}

.separate {
	width: 90%;
}
</style>