<script setup>
import { computed, ref, shallowRef, onMounted } from 'vue';
import Settings from 'modules/settings';
import { elmId, locked } from '../itemsBase';
import FilterBox from '../components/filterbox.vue';
import Book from '../spellbook.vue';
import SpellList from '../spelllist.vue';

const props = defineProps(['state']);

const spellOps = Settings.getSubVars('spells');

const showList = ref(spellOps.showList ?? false);
const filtered = shallowRef(spellOps.filtered ?? null);
/// names of schools being viewed.
const schoolNames = ref(spellOps.schoolNames ?? []);

const min = ref(spellOps.min ?? null);
//const max = ref(spellOps.max ?? null);

/**
 * @property {Spell} spells - array of unlocked spells.
 */
const spells = computed(() => {
	return props.state.filterItems(
		it => it.type === 'spell' && !locked(it));
});

/**
 * toggle memorized list.
 */
const toggle = () => {
	showList.value = Settings.setSubVar('spells', 'showList', !showList.value);
}

/**
 * @property {DataList} spelllist - spells in active use. (dungeons)
 */
const list = computed(() => { return props.state.spelllist; });

const minLevel = computed({

	get() { return min.value },
	set(v) { min.value = Settings.setSubVar('spells', 'min', Number(v)); }

});

const viewSchools = computed({

	get() {
		return schoolNames.value;
	},
	set(v) {
		schoolNames.value = v;
		Settings.setSubVar('spells', 'schools', schoolNames.value.concat());
	}

});

/**
 * @property {.<string,string>} schools - schools of all unlocked spells.
 */
const allSchools = computed(() => {

	const res = {};

	const a = spells.value;
	for (let i = a.length - 1; i >= 0; i--) {
		const s = a[i];
		if (s.school) res[s.school] = true;
	}

	return res;

});

/**
 * @property {Spell[]} viewing - array of spells actually visible
 * after min/max levels and schools have been applied to filtered.
 */
const viewing = computed(() => {

	const filteredSpells = filtered.value || spells.value;
	const skools = schoolNames.value;
	const level = minLevel.value;

	if (skools.length > 0 || level) {

		return filteredSpells.filter(v =>
			(skools.length === 0 || skools.includes(v.school))
			&& (!level || (v.level === level))
		);

	}

	return filteredSpells;

});

onMounted(() => {
	// remove schools not in allSchools.
	//const all = allSchools.value;
	//schoolNames.value = schoolNames.value.filter((v) => all[v] != null);

});

</script>

<template>

<div class="spells">

	<div class="filters">

			<FilterBox v-model="filtered" :items="spells" />

		<div>
			<label class="level-lbl" :for="elmId('level')">Level</label>
			<input class="level" :id="elmId('level')" type="number" v-model="minLevel" min=0 size=5>

		</div>

		<div class="checks" v-for="(p, k) in allSchools" :key="k">
			<input type="checkbox" :value="k" :id="elmId('chk' + k)" v-model="viewSchools" >
			<label :for="elmId('chk' + k)">{{ k.toTitleCase() }}</label>
		</div>

		<button @click="toggle">Memorized</button>

	</div>

<div class="bottom">

<Book class="spellbook" :viewing="viewing" :state="state" />

<SpellList v-show="showList" class="spelllist" :list="list" :state="state" />

</div>

</div>

</template>

<style scoped>
div.spells {

	display: flex;
	flex-flow: column nowrap;
	padding: var(--sm-gap) var(--md-gap);
	height: 100%;

}

div.spells .bottom {
	display: flex;
	flex-flow: row nowrap;
}

div.spells .spellbook {
	flex-basis: 80%;
	flex-grow: 1;
}


div.spells .spelllist {
	border-left: 1px solid var(--separator-color);
	padding: var(--sm-gap);
}

div.spells div.filters div {
	box-sizing: border-box;
	margin: 0;
}

div.spells div.filters div:nth-child(1),
div.spells div.filters div:nth-child(2) {
	flex-basis: 50%;
}


div.spells div.filters>div input[type=text],
div.spells div.filters>div input[type=number] {

	flex: 1;
	margin-right: 1em;
	margin-left: 1em;
	min-width: unset;
	max-width: unset;
	padding: var(--tiny-gap) 0;
	font-size: 105%;
}

div.spells div.filters>div input {
	min-width: 0;
	padding: 0;
	text-indent: var(--sm-gap);
}


div.spells .filters {
	flex-flow: row wrap;
	display: flex;
	text-align: center;
	border-bottom: 1px solid var(--separator-color);
	margin: 0;
	padding: var(--sm-gap);
	line-height: 2em;
	justify-content: flex-start;
}


div.spells div.filters div.checks {
	margin: 0;
	padding: 0 0.5em;
	flex-basis: unset;
}
</style>