<script setup>
import Settings from 'modules/settings';

import EntryGroup from 'ui/panes/entryGroup.vue';
import { ref, computed } from 'vue';

const props = defineProps(['items']);

const ops = Settings.getSubVars('entryview');
		
const hide = ref(ops.hide ?? false);

const emits = defineEmits(['selected']);

/**
* @property {.<string,GData[]>} groups - maps group name to items array.
*/
const groups = ref({});

const filteredItems = computed(()=>{

	const items = props.items;
	const newGroups = {
		other: []
	}

	const len = items.length;
	for (let i = 0; i < len; i++) {

		const it = items[i];
		if (it.hide) continue;
		const title = it.group || (it.tags ? it.tags[0] : 'other');

		const group = newGroups[title] ?? (newGroups[title] = []);

		group.push(it);

		}
		return newGroups;

});
</script>


<template>
	<div class="res-list">
		<div class="config"><button ref="btnHides" class="btnConfig"></button></div>
		<div v-if="groups" class="res-container"> 
			<EntryGroup class="res-group" @selected="emits('selected', $event)"
				v-for="(g, p) in filteredItems" :items="g" :group="p"
				:hide="hide" :key="p" />
		</div>
	</div>
</template>

<style scoped>
div.res-list {
	overflow: visible;
	width: fit-content;
	margin: 0;
	padding: 0;
	min-width: 11rem;
}

@supports (-moz-appearance:button) and (contain:paint) {
	div.res-list {
		overflow: visible;
		width: fit-content;
		margin: 0;
		padding: 0;
		min-width: 11rem;
	}

	div.res-container {
		overflow: visible;
		width: fit-content;
		padding-right: 1.1rem;
		min-width: 11rem;
	}
}
</style>