<script setup>
import { PURSUITS, TASK } from '@/values/consts';
import { computed, ref } from 'vue';
import { HALT_TASK, STOP_ALL, gameEvents } from '../../events';
import { useRollOver } from '../../store/popups';

const props = defineProps(['state', 'runner']);

const { itemOver } = useRollOver();

const autofocus = ref(false);

const focus = computed(() => { return props.state.getData('focus'); });
const restAction = computed(() => { return props.state.restAction });
const resting = computed(() => { return restAction.running; });

const pursuits = computed(() => { return props.state.getData(PURSUITS) });


const taskStr = (a) => {

	return (a.verb || a.name.toTitleCase()) + (a.length ? (' ' + Math.floor(a.percent()) + '%') : '');

}
const levelStr = (a) => {
	return ' (' + Math.floor(a.valueOf()) + '/' + Math.floor(a.max.valueOf()) + ')';
}

const halt = (a) => {
	gameEvents.emit(HALT_TASK, a);
}
const run = () => {
	if (autofocus.value) {
		gameEvents.emit('endrepeater', focus.value)
		document.getElementById('auto').style = ""
		autofocus.value = false
	} else {
		gameEvents.emit('repeater', focus.value)
		document.getElementById('auto').style = "background-color:green;"
		autofocus.value = true
	}

}
</script>

<template>

<div>
	<div class="separate">

		<button class="btn-sm" @click="gameEvents.emit(STOP_ALL)">Stop All</button>

		<button class="btn-sm" @click="gameEvents.emit(TASK, restAction)" :disabled="resting"
		@mouseenter.capture.stop="itemOver($event, restAction)">{{ restAction.name.toTitleCase() }}</button>
		<div v-if="!focus.locked">
			<button class="btn-sm" @mouseenter.capture.stop="itemOver($event, focus)"
			:disabled="!focus.canUse" @click="gameEvents.emit(TASK, focus)"
			@mousedown="gameEvents.emit('repeater', focus)" @mouseup="gameEvents.emit('endrepeater', focus)">Focus</button>
		<button class="btn-sm" @click="run()" id="auto" :disabled="!focus.canUse">Auto Focus</button>
		</div>
		<button class="btnMenu" @click="gameEvents.emit('showActivities')"></button>
	</div>

	<div class='running'>

		<div class="relative" v-for="v of runner.actives" :key="v.id">
			<button class="stop" @click="halt(v)">&nbsp;X&nbsp;</button><span>{{ taskStr(v) }}</span><span v-if="v.type === 'skill'">{{ levelStr(v) }}</span>
			<button v-if="runner.canPursuit(v)"
			:class="['pursuit', pursuits.includes(runner.baseTask(v)) ? 'current' : '']"
				@click="runner.togglePursuit(v)"> F </button>
		</div>

	</div>
</div>

</template>

<style scoped>
div.running {
	display: flex;
	flex-flow: column nowrap;
}

div.running .relative {
	position: relative;
}
</style>
