<script setup>
import { computed, onMounted, ref } from 'vue';
import { centerXY, positionAt } from './popups.js';

const props = defineProps(['runner']);

/**
 * Popup Activities Manager.
 */

const emits = defineEmits(['close']);

/**
 * force refresh when array keys swapped.
 */
const activeKey = ref(0);
const waitKey = ref(0);

const elRef = ref();

onMounted(() => {
	/// popup elm?
	centerXY(elRef.value, 0.2);

});

const actives = computed(() => {
	return props.runner.actives;
})

const waiting = computed(() => {
	return props.runner.waiting;
})
/**
 * reversed clone of pursuit items.
 * @property {DataList>Inventory}
 */
const pursuits = computed(() => {
	return props.runner.pursuits.items;
});

const moveActive = (task, amt) => {
	props.runner.moveActive(task, amt);
}

const removeActive = (t) => {
	props.runner.stopTask(t);
}

const moveWaiting = (task, amt) => {
	props.runner.moveWaiting(task, amt);
}

const removeWait = (t) => {
	props.runner.removeWait(t);
}

const movePursuit = (task, amt) => {
	props.runner.pursuits.move(task, amt);
}

const removePursuit = (t) => {
	props.runner.pursuits.remove(t);
}

</script>

<template>
<div class="popup activities" ref="elRef">

	<div class="popup-close" @click="emits('close')">X</div>

	<div class="section" :key="'k' + activeKey">
		<header>Activities</header>
		<div v-if="actives.length === 0" class="note-text">None</div>
		<div v-else>
		<div v-for="(t, ind) in actives" :key="'a' + ind" class="task-info">
			<button class="stop" @click="removeActive(t)">X</button><span class="task-name">{{ t.name.toTitleCase() }}</span>
			<div v-if="actives.length > 1">
				<button @click="moveActive(t, -1)" :disabled="ind === 0">↑</button>
				<button @click="moveActive(t, 1)" :disabled="(ind + 1) === actives.length">↓</button>
			</div>

		</div>
		</div>
	</div>

	<div class="section" :key="'w' + waitKey">
		<header>Waiting/Blocked</header>
		<div v-if="waiting.length === 0" class="note-text">None</div>
		<div v-else>
		<div v-for="(t, ind) in [...waiting].reverse()" :key="'w' + ind" class="task-info">
			<button class="stop" @click="removeWait(t)">X</button><span class="task-name">{{ t.name.toTitleCase() }}</span>
			<!-- note: indices are reversed. Move amount reversed. -->
			<div v-if="waiting.length > 1">
				<button @click="moveWaiting(t, 1)" :disabled="ind === 0">↑</button>
				<button @click="moveWaiting(t, -1)" :disabled="(ind + 1) === waiting.length">↓</button>
			</div>

		</div>
		</div>
	</div>

	<div class="section">
		<header>Pursuits</header>
		<div v-if="pursuits.count === 0" class="note-text">None</div>
		<div v-else>
		<div v-for="(t, ind) in pursuits" :key="'p' + ind" class="task-info">

			<button class="stop" @click="removePursuit(t)">X</button><span class="task-name">{{ t.name.toTitleCase() }}</span>
			<div v-if="pursuits.length > 1">
				<button @click="movePursuit(t, -1)" :disabled="ind === 0">↑</button>
				<button @click="movePursuit(t, 1)" :disabled="(ind + 1) === pursuits.length">↓</button>
			</div>
			<!--<button v-if="runner.canPursuit(t)" :class="['pursuit', pursuits.includes( runner.baseTask(t) ) ? 'current' : '']"
					@click="runner.togglePursuit(t)"> F </button>-->
		</div>
		</div>
	</div>

</div>
</template>

<style scoped>
div.activities {
	min-width: 28rem;
	width: fit-content;
	padding-top: 1em;
	padding: 1.5em;
}

div.section {
	margin-top: 1em;
	min-width: 100%;
}

div.task-info {
	display: flex;
	width: 90%;
	margin: var(--sm-gap) 0;
}

button.stop {
	margin: 0 var(--sm-gap);
}

span.task-name {
	flex-grow: 1;
	vertical-align: center;
}

div.section header {
	border-bottom: 1px solid var(--separator-color);
	margin-bottom: var(--sm-gap);
}
</style>