<script setup>
import Game from '../../game';
import { centerX, positionAt } from './popups.js';
import { onUpdated, ref, shallowRef, computed } from 'vue';
import { useRollOver } from '../../store/popups';

/**
 * @param {?HTMLElement} elm - element to display relative to.
 * @param {?function} opts.cb - callback
 * @param {?string} title - choice title.
 * @param {?boolean} mustPay - must pay to select.
 * @param {?boolean} strings - choices given as raw strings, not data elements.
 */
const props = defineProps(['choices', 'title', 'strings', 'mustPay', 'elm', 'state']);
const emits = defineEmits(['selected', 'cancel']);

const st = computed(()=>{return props.state ?? Game});
const { itemOver } = useRollOver();

const elRef = shallowRef();


const slottable = (it) => {

	if (it.disabled || (it.need && !st.value.unlockTest(it.need, it))) return false;
	if (it.buy && !it.owned && !st.value.canPay(it.buy)) return false;
	if (it.slot && st.value.getSlot(it.slot, it.type) === it) return false;
	return true;

}

onUpdated(() => {
	if (props.elm) positionAt(elRef.value, props.elm, 0);
	else centerX(elRef.value);
});

/**
 * @property {gdata[]} choices - used to convert strings or tag string into choice objects.
 */
const choices = computed(() => {

	const state = st.value;
	let list = props.choices;
	if (typeof list === 'string') list = state.getData(list);

	if (list?.items) list = list.items;
	if (Array.isArray(list)) {

		if (props.strings) return list;

		const a = [];
		for (let i = list.length - 1; i >= 0; i--) {

			const it = state.findData(list[i]);
			if (it) a.push(it);
		}

		return a;
		
	} else return null;


});

const cantPay = (it) => {
	return it.cost && !st.value.canPay(it.cost);
}

const disabled = (it) => {
	return !props.strings && !slottable(it) || (props.mustPay && cantPay(it));
}

const choose = (opt) => {
	if (disabled(opt)) return;
	emits('selected',opt);
}

</script>

<template>
<div class="popup" ref="elRef"
	v-if="choices != null && choices.length > 0">
	<div class="content">

		<span class="title" v-if="title">{{ title }}</span>

		<div class="items">
		<button v-for="it in choices" :key="strings ? it : it.id"
			class="task-btn" 
      		:class="disabled(it) && 'disabled'"
			@mouseenter.capture.stop="!strings ? itemOver($event, it) : ''"
			@click="choose(it)">{{ strings ? it : it.name }}</button>
		</div>

		<button class="close-btn" @click="emits('cancel')">Cancel</button>

	</div>
</div>

</template>

<style scoped>
.disabled {
	border-color: rgba(0, 0, 0, 0.4);
	color: rgba(0, 0, 0, 0.4);
}

.popup {
	z-index: var(--md-depth);
	max-width: 50vw;
}

.content {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	min-height: 5rem;
}

.content .items {
	display: flex;
	flex-flow: row wrap;
	flex-grow: 1;
	width: auto;
}

.content .title {
	font-weight: bold;
	text-align: center;
	margin-bottom: var(--sm-gap);
}

.task-btn {

	max-height: 2em;
	width: 100%;
}

button.close-btn {
	min-height: 2em;
	width: 5em;
	font-size: 0.9em;
}
</style>