<script setup>
import { ref, computed, onMounted, onUpdated } from 'vue';
import Settings from 'modules/settings';
import { elmId } from '../itemsBase';
import { centerX } from './popups';
import { appEvents } from '../../events';

const emits = defineEmits(['close']);

/**
 * @emits save-settings
 * @emits setting
 */
const vars = Settings.vars;

const sCompactMode = ref(vars.compactMode);
const sDarkMode = ref(vars.darkMode)

const saves = ref(Object.assign({}, Settings.getSubVars('saves')));
const elRef = ref();

onUpdated(() => {
	centerX(elRef.value);
});

onMounted(() => {
	for (const p in Settings.vars) {
		appEvents.emit('setting', p, Settings.vars[p]);
	}
});

//const clear = () => { }

const close = () => {
	appEvents.emit('save-settings');
	emits('close');
}

const compactMode = computed({
	get() { return sCompactMode.value; },
	set(v) {
		Settings.set('compactMode', v);
		sCompactMode.value = v;
		appEvents.emit('setting', 'compactMode', v);
	}

});
const remoteFirst = computed({
	get() {
		return saves.value.remoteFirst;
	},
	set(v) {
		saves.value.remoteFirst = Settings.setSubVar('saves', 'remoteFirst', v);
		appEvents.emit('setting', 'remoteFirst', v);
	}
});
const autosave = computed({
	get() {
		return saves.value.autosave;
	},
	set(v) {
		saves.value.autoSave = Settings.setSubVar('saves', 'autosave', v);
		appEvents.emit('setting', 'autosave', v);
	}
});
const darkMode = computed({
	get() {
		return sDarkMode.value;
	},
	set(v) {
		Settings.set('darkMode', v);
		sDarkMode.value = v;
		appEvents.emit('setting', 'darkMode', v);
	}
});


</script>

<template>

<div :class="['settings', 'popup']" ref="elRef">

	<div>
	<label :for="elmId('dark-mode')">Dark Mode</label>
	<input type="checkbox" :id="elmId('dark-mode')" v-model="darkMode">
	</div>

	<div>
	<label :for="elmId('compact-mode')">Compact Mode</label>
	<input type="checkbox" :id="elmId('compact-mode')" v-model="compactMode">
	</div>

	<div>
	<label :for="elmId('auto-save')" title="Periodically save current game.">Auto-Save</label>
	<input type="checkbox" :id="elmId('auto-save')" v-model="autosave">
	<h6>Periodically save game to storage. Game is saved to Browser storage by default. Only saved to Remote storage if logged in and server is available.</h6>
	</div>

	<div>
	<label :for="elmId('remote-first')" title="Attempt to load saves from Remote Storage before Local Storage.">Try Remote Load First</label>
	<input type="checkbox" :id="elmId('remote-first')" v-model="remoteFirst">
	<h6>Attempt to load game from Remote host before loading from browser Storage.</h6>
	</div>

	<!--<div><button @click="clear">Clear Settings</button></div>-->
	<!--<div class="nowarn">

		<div v-for="it in nowarns" :key="it"><span>{{it}}</span><button @click="clearWarn">Delete</button></div>

	</div>-->

	<button class="close" @click="close">Close</button>

</div>

</template>

<style scoped>
.settings {
	height: auto;
	min-height: 5.5rem;
	min-width: 30%;
	max-width: 60%;
	position: absolute;
	z-index: 10000;
	top: 3rem;
	background: inherit;
	border: var(--popup-border);
	border-radius: 0.20rem;
	padding: var(--md-gap);
}

button.close {
	position: absolute;
	bottom: var(--md-gap);
	right: var(--md-gap);
}
</style>